.App {
  font: 200 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .05em;
  color: #333;
  box-sizing: border-box;
}

input {
  outline: none;
}

.hidden {
  display: none;
}

#viewport, .frame-image, .flow-map {
  position: absolute;
  top: 0;
  left: 0;
}


#timeline {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000000;
  background-color: #b5b5b5;
  color: white;
  box-shadow: inset 0 7px 8px 0 rgba(0, 0, 0, 0.24)
}

.time-cursor{
  position: absolute;
  top: 0;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.24)
}

.time-brackets {
  position: absolute;
  top: 0;
  height: 52px;
  width: 520px;
  background-color: rgba(0, 0, 0, 0.1);
  border-right: solid 1px white;
  border-left: solid 1px white
}

.left-bracket, .right-bracket {
  position: absolute;
  top: 0;
  cursor: ew-resize;
  width: 10px;
  background-color: rgba(255, 0, 0, 0.5);
  height: inherit;
  margin: 0;
  padding: 0
}

.right-bracket {
  margin-left: -5px;
}

.left-bracket {
  margin-left: 0;
}

.frame-image-container, .frame-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flow-map {
}

#openFileInput {
  display: none;
}

.open-file-button {
  position: absolute;
  top: 0;
  z-index: 10;
  display: inline-block;
  font-size: 120%;
  margin: 10px;
  padding: 7px 15px 10px 15px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.drag-files-msg {
  position: absolute;
  top: 40vh;
  width: 100vw;
  color: lightgrey;
  font-size: 150%;
  text-align: center;
  line-height: 2em;
}

.btn {
  width: 42px;
  height: 42px;
  padding: 7px 15px 10px 15px;
  font-size: 120%;
  cursor: pointer
}
