.App {
  font: 200 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .05em;
  color: #333;
  box-sizing: border-box;
}

input {
  outline: none;
}

.hidden {
  display: none;
}

#viewport {
  position: absolute;
  height: 100%;
  width: 100%;
}

#openFileInput {
  display: none;
}

.open-file-button {
  display: inline-block;
  font-size: 120%;
  margin: 10px;
  padding: 7px 15px 10px 15px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.drag-files-msg {
  color: lightgrey;
  font-size: 150%;
  text-align: center;
  margin-top: 40vh;
  line-height: 2em;
}

.top-menu {
  position: fixed;
  z-index: 1000001;
  left: 0;
  bottom: 0
}

.btn {
  width: 42px;
  height: 42px;
  padding: 7px 15px 10px 15px;
  font-size: 120%;
  cursor: pointer
}
